body {
    padding-top: 10px;
}

.btn {
    margin-bottom: 10px;
}

.container {
    border-radius: 4px;
    margin: auto;
    width: 80%;
}

.little-container {
    width: 40%;
    margin: auto;
}

figcaption {
    text-align: center;
    margin: 3px auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

td {
    text-align: center;
}

.criar{
    display: flex;
    flex-direction: row;
    position: relative;
}

.butao{
    margin-left: 40%;
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
}

.cabeca{
    display: flex;
    flex-direction: row;
    position: relative;
}

.title{
    display:flex;
    align-itens:center;
    justify-content:center;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn-login{
  position: absolute;
  margin-left: 90%;
  padding: 10px 20px 10px 20px;
}

.imag{
    width: 100%;
    height: 95%;

}

.formulario{
    margin-top: 20px;
}

input{
    margin-top: 5px;
}

.add-capa{
    margin-bottom: 10px;
    position: absolute;
}